body{
    /*background-color: white; */
    color:#404040;
    background: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg) fixed;
}

p{
    font-family: Georgia, Garamond;
}
h1,h2{
    color: #A4A400;
    text-align: center;
    /*background-color: #F0F0F0; */
    text-decoration: underline;
    font-family: Lucida Sans Unicode, Helvetica, Arial;
    font: 22pt bold;
    padding: 0.25em;
}

h2{
    text-align: left;
    font: 18pt bold;
}

h1 span {
    box-shadow: 0 0 0 10px #fff; /* Tune line "padding" here */
    background-color: #F0F0F0;
    line-height: 2.2; /* Tune line "margin" here */
}

h2 span{
    box-shadow: 0 0 0 10px #fff; /* Tune line "padding" here */
    background-color: #F0F0F0;
    line-height: 2.2; /* Tune line "margin" here */
}

div.comment{
    margin-left: 50px;
    background-color: #FFFFA8;
    font-style: italic;
}

a{
    color: #A4A400;
}

div.copy{
    text-align: left;
}

ul.pie {
    list-style-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif);
}

